#siteimg{
    /* To play around, change this to absolute */
    position: fixed;
    bottom: 0px;
    left: 0px;
    z-index: 1;
    padding: 0px;
    margin: 0px;
}

.footer {
	position: fixed;
	left: 0px;
  	right: 0px;
	bottom: 10px;
	width: 100%;
	background-color: #DF8700;
	color: white;
	text-align: center;
	opacity: 0.8;
}